html {
  font-family: 'Poppins', sans-serif;
  display: block;
}
* {
box-sizing: border-box;
margin: 0;
padding: 0;
line-height: 1.5;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
h1 {
  text-align: center;
}
head, header, article {
  flex: 1 0 auto;
}
footer {
  background-color: #dedede;
  color: #333;
  font-size: 20px;
  text-align: center;
  margin: 0%;
  width: 100%;
}
@media (max-width: 500px) {
  footer a {
    display: block;
  }
}
article {
  margin-top: 0;
}
.question {
  text-align: center;
}
body {
  margin-inline: 20%;
}