:root {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ff3333;
  height: 300px;
}
img {
  max-width: 100%;
  display: table;
  margin: 0 auto;
}
.hero_title {
  display: flex;
  align-items: center;
  font-size: 48px;
}
.hero_subtitle {
  display: flex;
  align-items: center;
  font-size: 36px;
  font-style: italic;
}
.contact {
  height: 300px;
  padding: 125px 0;
  font-size: 20px;
  text-align: center;
  background-color: yellow;
}
.tests {
  height: 300px;
  padding: 100px 0;
  font-size: 20px;
  text-align: center;
  background-color: #00b3b3;
}
footer {
  background-color: #dedede;
  color: #333;
  font-size: 20px;
  text-align: center;
}
.product_tile {
  font-size: 20px;
  text-align: center;
}

.products {
  height: 300px;
  padding: 70px 0;
}
@media (max-width: 500px) {
  footer a {
    display: block;
  }
}
