<section class="boxes">
  <div class="container">
    <div class="box">
        <h2>
        <a
          href="{{post.url}}"
          target="_blank"
          > {{ post.data.title }} </a
        >
      </h2>
      <p>
        {{post.data.description}}
      </p>
    </div>
</section>