<footer>
  <p>Find me elsewhere on the web as well:</p>
  <p>
    <a href="https://www.youtube.com/c/ShashiKS/">Youtube</a>
    <a href="https://twitter.com/shashiksishere">Twitter</a>
    <a href="https://t.me/joinchat/AyU4RtrVE-82Njc1">Telegram</a>
  </p>
</footer>