<nav>
  <div class="menu-wrap">
    <input type="checkbox" class="toggler" />
    <div class="hamburger"><div></div></div>
    <div class="menu">
      <div>
        <div>
          <img src="img/logo.jpg" width="150px" alt="logo" />
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="html/about.html">About</a></li>
            <li><a href="html/blog.html">Blog</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="html/tests.html">Tests</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>