---
title: Shashi KS Website Home Page
layout: "base.njk"
description: This is the Shashi KS website where we will be uploading blogs, study materials, mock tests and quizzes regularly on Computer Science.
---
{% include 'nav.njk' %}
<header>
  <p class="hero_title">Hi, I am Shashi</p>
  <p class="hero_subtitle">Welcome to my blog</p>
</header>
<section class="products">
  <p class="product_tile">Read my <a href="blog.html">blog</a></p>
  <p class="product_tile">
    Watch my <a href="https://www.youtube.com/c/ShashiKS">YouTube videos</a>
  </p>
  <p class="product_tile">Buy my <a href="tests.html">tests</a></p>
  <p class="product_tile">
    Discuss on our
    <a href="https://t.me/joinchat/AyU4RtrVE-82Njc1"
      >telegram discussion group</a
    >
    regarding the TRB Polytechnic exam
  </p>
</section>
<section class="contact" id="contact">
  <p>
    For business enquiries and payments contact me at shashiks2732020@gmail.com
  </p>
</section>
<section class="tests" id="tests">
  <p>My recent test packages:</p>
  <p>PGTRB Computer Science full mock test</p>
  <p>TRB Polytechnic Computer Science full mock test</p>
</section>
