---
title: Practice questions for the TRB Polytechnic Exam - Shashi KS Blog
layout: "base.njk"
description: This is a Shashi KS blog where you can view some practice questions for the TRB Polytechnic Exam.
date: 2022-04-27
---

<header>
  <h1>Practice questions for the TRB Polytechnic Exam - Shashi KS Blog</h1>
  <h2>Uploaded on <time datetime="2022-04-27">27 April, 2022</time></h2>
</header>
<article>
  <div class="question">
    <p>
      1. The strategy of allowing processes that are logically runnable to be
      temporarily suspended is:
    </p>
  </div>
  <br />
  <div class="question">
    <p>2. What is the k-clique of a graph?</p>
  </div>
  <br />
  <div class="question">
    <p>
      3. What is the correct definition of a valid process transition in an OS?
    </p>
  </div>
  <br />
  <div class="question">
    <p>
      4. The process of obtaining a serializibility order of the transactions by
      finding a linear order consistent with the partial order of the precedence
      graph is called:
    </p>
  </div>
  <br />
  <div class="question">
    <p>
      5. The degeree of interference a transaction can tolerate in a concurrent
      environment is known as:
    </p>
  </div>
  <br />
  <div class="question">
    <p>6. What is the primary purpose of a VLAN?</p>
  </div>
  <br />
  <div class="question">
    <p>7. Advanced Encryption Standard is based on:</p>
  </div>

  <div class="question">
    <p>8. In networking, UTP stands for:</p>
  </div>
  <br />
  <section class="question">Want to view the answers?</section>
  <section class="question">
    Click
    <a href="practice-questions-for-trb-part-1[answers].html" target="_blank"
      >here</a
    >
  </section>
</article>
<br />
<footer>
  <p>Find me elsewhere on the web as well:</p>
  <p>
    <a href="https://www.youtube.com/c/ShashiKS/">Youtube</a>
    <a href="https://twitter.com/shashiksishere">Twitter</a>
    <a href="https://t.me/joinchat/AyU4RtrVE-82Njc1">Telegram</a>
  </p>
</footer>
