---
title: About me - Shashi KS
layout: "base.njk"
description: This is the Shashi KS about page where you can access information regarding our channel and blog.
---

{% include 'nav-2.njk' %}

    <header>
      <h1>About me - Shashi KS</h1>
    </header>
    <p>
      Hi,<br />
      Nice to connect with you all through this blog!!<br />
      Here ,You can find the following:<br />
      1. Content on Operating Systems, C Programming, Java & J2EE, Data
      Structures, Compiler Design, System Software, etc.<br />
      2. Content on useful software applications<br />
      3. Preparatory Materials, Solved Question Papers for GATE, TRB, UGC NET,
      PGTRB, PGT CS Exam.<br />
      4. Important and Reliable Educational updates /Social Awareness Content.
      <br />
      All in English and Tamil. It really means a lot to me when you hit the
      "subscribe" button and join our YouTube Family :)
      <br />
      <br />
      For all queries, Mail me at shashiks2732020@gmail.com
      <br />
      You can also become a member of our YT channel for exclusive members only
      pdfs and Content, by pressing the join button.
      <br />
      Our YouTube Channel Link: https://www.youtube.com/c/ShashiKS
      <br />
      Our Twitter Profile Link: https://twitter.com/shashiksishere
      <br />
      Our Telegram Channel link : https://t.me/shashikschannel
      <br />
      TELEGRAM JOINING LINK FOR TRB Polytechnic Exam CSE AND PG TRB CSE - Group
      Discussion : https://t.me/joinchat/AyU4RtrVE-82Njc1<br /><br />
      SHASHI KS<br />
      Founder
    </p>
    {% include 'footer.njk' %}
  </body>
</html>
