---
title: Blog - Shashi KS
layout: "base.njk"
description: This is the Shashi KS blog page where you can access our latest blogs on Computer Science.
---
<main>
{% include 'nav-2.njk' %}
<header>
  <h1>Blog - Shashi KS</h1>
</header>
  {% for post in collections.post | reverse %}
    {% include 'article-snippet.njk' %}
  {% endfor %}
{% include "footer.njk" %}
</main>
