---
title: Blog - Shashi KS
layout: "base.njk"
description: This is the Shashi KS blog page where you can access our latest blogs on Computer Science.
---
<main>
{% include 'nav-2.njk' %}
<header>
  <h1>Blog - Shashi KS</h1>
</header>
<section class="boxes">
  <div class="container">
    {%- for post in collections.post | reverse -%}
    <div class="box">
        <h2>
        <a
          href="{{post.url}}"
          target="_blank"
          > {{ post.data.title }} </a
        >
      </h2>
      <p>
        {{post.data.description}}
      </p>
    </div>
    {%- endfor -%}
</section>
{% include "footer.njk" %}
</main>
