---
title: Blog - Shashi KS
layout: "base.njk"
description: This is the Shashi KS blog page where you can access our latest blogs on Computer Science.
---

{% include 'nav-2.njk' %}
<header>
  <h1>Blog - Shashi KS</h1>
</header>
section class="boxes">
  <div class="container">
    {%- for post in collections.post | reverse -%}
    <div class="box">
        <h2>
        <a
          href="{{post.url}}"
          target="_blank"
          > {{ post.data.title }} </a
        >
      </h2>
      <p>
        {{post.data.description}}
      </p>
    </div>
    {%- endfor -%}
</section>
<!-- <section class="boxes">
  <div class="container">
    <div class="box">
      <h2>
        <a
          href="../all-articles/practice-questions-for-trb-part-1[questions].html"
          target="_blank"
          >Practice Questions for TRB (Part 1)</a
        >
      </h2>
      <p>
        This is a Shashi KS blog where you can view some practice questions for
        the TRB Polytechnic Exam.
      </p>
    </div>
    <div class="box">~
      <h2>
        <a
          href="../all-articles/practice-questions-for-trb-part-1[answers].html"
          target="_blank"
          >Practice Questions for TRB (Part 1 Answers)</a
        >
      </h2>
      <p>
        This is the continuation to the first part of the "Practice Questions
        for TRB" series where I reveal the answers to the questions shown in the
        first part of this blog.
      </p>
    </div>
  </div>
</section> -->
{% include "footer.njk" %}
