---
title: Shashi KS Website Home Page
layout: "base.njk"
description: This is the Shashi KS website where we will be uploading blogs, study materials, mock tests and quizzes regularly on Computer Science.
---
{% include 'nav.njk' %}
<div class="container">
<header class="hero">
<div class="typewriter">
  <h1 class="hero_title typewriter-animation">Hi, I am Shashi</h1>
  </div>
  <p class="hero_subtitle">Welcome to my blog</p>
</header>
{% include 'carousel.njk' %}
<!-- <section class="products blog-section">
<p class="product_tile product_heading">MY BLOG</p>
  <p class="product_tile"><a href="blog.html">READ IT</a></p></section><hr>
  <section class="products youtube-product-section">
    <section class="youtube-product-section_section">
  <p class="product_tile product_heading">
  MY VIDEOS
  </p>
  <p class="product_tile"><a href="https://www.youtube.com/c/ShashiKS">WATCH IT</a></p>
  </section>
  </section><hr>
  <section class="products test-section">
  <p class="product_tile product_heading">MY TESTS</p>
  <p class="product_tile"><a href="tests.html">BUY IT</a></p></section><hr>
  <section class="products">
  <p class="product_tile telegram-grp product_heading">
    OUR GROUP
      </p>
      <p class="product_tile">
    <a href="https://t.me/joinchat/AyU4RtrVE-82Njc1"
      >DISCUSS HERE</a
    ></p>

</section>
<section class="contact" id="contact">
  <p>
    For business enquiries and payments,<br> contact me at shashiks2732020@gmail.com
  </p>
</section>
<section class="tests" id="tests">
  <p>My recent test packages:</p>
  <p>PGTRB Computer Science full mock test</p>
  <p>TRB Polytechnic Computer Science full mock test</p>
</section>
</div>
-->